@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av. Paseo de los Leones 1330<br />
    Cumbres 1er Sector, 64610, Monterrey, N.L.<br />
    <abbr title="Phone">P:</abbr>
    +528180296230
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:fpablo.geronimot@gmail.com">fpablo.geronimot@gmail.com</a><br />
</address>